<div class="custom-container">
  <h1>basico login</h1>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />

      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger" role="alert">
        <div *ngIf="password?.value == ''">- Mandatory field</div>
        <div *ngIf="password?.invalid && password?.touched" class="" role="alert">
          <span
            >- Password must be at least 8 char long and must contain at least 1 lowercase letter, 1 uppercase letter, 1
            digit and one special character</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="form-group form-check">
        <input formControlName="checkOut" type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Remember password</label>
      </div>
      <a href="">Forgot your password?</a>
      <button
        type="submit"
        class="btn btn-primary mt-4"
        [disabled]="loginForm.invalid"
        [ngClass]="loginForm.invalid ? 'btn-secondary' : null"
      >
        Submit
      </button>
    </div>
  </form>
</div>
