.iconContainer{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.ng-fa-icon{
  font-size: 50px;
}

@media (max-height:720px) {
  .iconContainer{
    width: 70px;
    height: 70px;
  }
  .ng-fa-icon{
    font-size: 30px;
  }

}