<h1 class="text-center mt-5">NEWS</h1>
<app-spinner *ngIf="articles === undefined || loading" class="mt-5 d-flex justify-content-center"></app-spinner>
<div class="row mt-5 " *ngIf="totalResults === 0">
  <div class="m-auto text-center">
    <img src="../../../../assets/images/trabajando.png" alt="">
    <h2 class="mt-5">Coming soon !</h2>
    <h2>We are working...</h2>
  </div>
</div>
<div  class="row mt-5">
  <div class="col-lg-10 m-auto" *ngIf="articles !== undefined && !loading">
    <div class="row row-cols-1 row-cols-xxl-4  row-cols-md-2 g-4">
      <div class="col" *ngFor="let article of articles">
        <div class="card h-100">
          <div class="card-header">
            <p>{{(article.author | uppercase) || 'AUTHOR: ANONYMOUS'}}</p>
          </div>
          <img [src]="article.urlToImage ? article.urlToImage : '../../../../assets/images/googlenews.jpg'"
            class="card-img-top" alt="..." style="width: 100%;">
          <div class="card-body">

            <h5 class="card-title">{{article.title | uppercase}}</h5>
            <p class="card-text">{{article.description}}</p>
            <div class="card__link"><a [href]="article.url" target="_blank"> Go to the article...</a></div>
          </div>
          <div class="card-footer">
            <p>Published at: {{article.publishedAt | date: 'short' }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-center mt-3" *ngIf="totalResults !== (0 && undefined)">
    <ul class="pagination pagination-lg">
      <li *ngIf="previousPageClass()" class="page-item ">
        <a class="page-link" (click)="previousPage()">&laquo;</a>
      </li>
      <li *ngIf="nextPageClass()" class="page-item ml-3">
        <a class="page-link" (click)="nextPage()">&raquo;</a>
      </li>
    </ul>
  </div>
</div>