
.spinner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
}

.title{
    font-size: 4rem;
}

.flag{
    width: 450px;
    margin-top: 15%;
}

table{ 
    color: white;
    border: white;
}