
a{
    text-decoration: none;
}

.spinner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
}

.title{
    font-size: 4rem;
}

.flag{
    width: 350px;
    align-self: center;
}

table{ 
    color: white;
    border: white;
}

.table__names{
    align-self: center;
}