
.custom-container{
  color: white;
  padding: 0 30px;
  padding-top: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group{
  margin-bottom: 30px;
 
}
.formIcon{
 transform: scale(1.5);
  margin-right: 15px;
  padding-top: 15px;
  height: fit-content;
}


.control-label{
  color: black;
}
.alert-danger{
  padding: 5px 10px;
}
.icon{
  border-radius: 100px;
  width: 20rem;
  height: 20rem;
}
.form-control{
  width: 300px;
}

.logoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-primary{
  margin-bottom: 15px;
}
.login-btn-container{
  display: flex;
  justify-content: center;

}
.form-check-label{
  margin-left: 10px;
}
.btn[type="submit"]{
  width: 100%;
}
.btn[type="submit"]:disabled{
  opacity: 0.5;
}

@media screen and (max-width:600px) {
  .form-group{
    margin-bottom: 15px;
  }
  
}