@use "sass:map";
@import "./../../styles/utils/_setting";
 @import "./../../styles/utils/tools";

.countries-result{
  font-size: 32px;
  color: azure;
  list-style: none;
}
.country-result-container{
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.bg-custom-dark, .bg-custom-light{
  color: white;
}

.h1-animate{
  animation-duration: 2s;
  animation-name: aparecer;
}


