@use "sass:map";
@import "./../../styles/utils/_setting";
 @import "./../../styles/utils/tools";



.bg-custom-dark, .bg-custom-light{
  color: white;
}

.h1-animate{
  animation-duration: 2s;
  animation-name: aparecer;
}


