@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');



.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #92E3A9;
    border-radius: 0.375rem;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-go-home:hover{
    color: black;
    background-color: #fff;
    
}

.central-body{
/*    width: 100%;*/
padding-top: 3rem;
    text-align: center;
}



.image-404{
    opacity: 0.6;
    z-index: 100;
    pointer-events: none;
    width: 600px;
}




@media only screen and (max-width: 600px){
    
    .central-body{
        padding-top: 25%;
    }
}