.background-image {
  background-image: url('../assets/images/pexels-pixabay-220201.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
  filter: brightness(90%);
}






