.background-image {
  background-image: url('../assets/images/pexels-pixabay-220201.jpg');
  background-size: cover;
  position: relative;
}

.opacity-custom{
  opacity: 0.71;
  background-color: black;
}






