<div class="card fade-in">
  <div class="card-header">
    <h5 class="card-title">{{ continent.name | uppercase }}</h5>
  </div>
  <img [src]="continent.img" class="card-img-top card__img" alt="..." />
  <div class="card-body">
    <p class="card-text card__text">
      {{continent.description}}
    </p>
  </div>
  <ul class="list-group list-group-flush card__ul">
    <li class="list-group-item card__li"><b>Países: </b>{{ continent.countries }}</li>
    <li class="list-group-item card__li"><b>Area:</b> {{ continent.area }}</li>
  </ul>
  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary card__button"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="getContinent(continent.value, continent.name)"
    >
      VER PAÍSES
    </button>
  </div>
</div>
