@use "sass:map";
@import "../../../../styles/utils/_setting";
@import "../../../../styles/utils/tools";

.h1-animate{
  // animation-duration: 2s;
  // animation-name: aparecer;
  font-weight: 600;
  color: white;
}
.search-btn-container{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 2rem;
}


