@use '../../../../styles/utils/tools';
@use '../../../../styles/utils/setting';
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$breakPoints: (
	// zero
	zr: 0,
	// mobile
	mb: 320px,
	// landscape
	ls: 576px,
	// tablet
	tb: 768px,
	// desktop
	dt: 992px,
	// extra desktop
	xd: 1200px
);


.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
    min-height: 100vh;
}

.dev-portrait{
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 30px;
  margin-top: 20px;
}


.image{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    bottom: 30px;
}

.dev-signature{
  top: 10px;
  text-align: end;
  width: 90%;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  position: relative;
}



.dev-description{
    font-family: 'Playfair Display', serif;
    width: 600px;
    font-size: 1.3rem;
    margin-top: 2rem;
    padding-left: 15px;
    font-weight: 100;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 

  .heartbeat {
    -webkit-animation: heartbeat 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
            animation: heartbeat 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  }

  @media screen and (max-width:990px) {
    .flex-column-Acenter{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      
    .contenedor {
        flex-direction: column;
        margin-top: 50px;
  }

  .dev-portrait{
    @extend .flex-column-Acenter;
    margin-bottom: 40px;
       
  }

  .image{
    height: 250px;
    width: 250px;
  }
  .dev-description{
    font-size: 1rem; 
    width: 300px;
  }
}
/* .vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
   */