<div class="contenedor">
  <div class="dev-portrait">
    <img src="../../../../assets/images/carlos.jpg" alt="" class="image" />
    <p class="dev-description text-focus-in">
      " Tengo 32 años y estudio desarrollo web desde hace 4. Me especialicé en front end,
      trabajando en proyectos de Bootcamps como Oracle Next Education y MiracleLab de la empresa Miracle Devs. Aprendí
      entre otras cosas metodologías Agile, desarrollo en equipo y resolución de conflictos. Actualmente estoy usando
      Angular como framework principal. En mis ratos libres estudio música o hago ciclismo. "
    </p>
    <p class="dev-signature text-focus-in">Carlos Vanzetto</p>
  </div>
  <div class="dev-portrait">
    <img src="../../../../assets/images/dante.jpg" alt="" class="image " />
    <p class="dev-description text-focus-in">
      <b>"</b> Buenas, tengo 28 años y estudio desarrollo web desde el 2022. Realice diferentes proyectos, tanto como en el
      backend y frontend, en las diplomaturas de desarrollo web full stack
      de Digital House y Academia Numen. Este año comencé la carrera analista universitario en sistema en la UNR,
      en esta última etapa, me especialicé en front end, utilizando Angular como framework, mejorando mis 
      skills y obteniendo nuevas. En mis tiempos libres me gusta jugar al futbol y salir con amigos. <b>"</b>
    </p>
    <p class="dev-signature text-focus-in">Dante Miron</p>
  </div>
</div>