<div class="contenedor">
  <div class="dev-portrait">
    <img src="../../../../assets/images/carlos.jpg" alt="" class="image" />
    <p class="dev-description text-focus-in">
      Mi nombre es Carlos Vanzetto, tengo 32 años y estudio desarrollo web desde hace 4. Me especialicé en front end,
      trabajando en proyectos de Bootcamps como Oracle Next Education y MiracleLab de la empresa Miracle Devs. Aprendí
      entre otras cosas metodologías Agile, desarrollo en equipo y resolución de conflictos. Actualmente estoy usando
      Angular como framework principal. En mis ratos libres estudio música o hago ciclismo.
    </p>
  </div>
  <div class="dev-portrait">
    <img src="../../../../assets/images/dante.jpg" alt="" class="image vibrate-1" />
    <p class="dev-description text-focus-in">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, eveniet. Possimus accusamus quo expedita quis
      repellat voluptates minus, sunt incidunt vel quisquam cum similique quaerat asperiores impedit porro alias? Odit.
    </p>
  </div>
</div>
