
.card-title{
    font-weight: 600;
}

.card-text{
    font-weight: 200;
}

.page-link{
    cursor: pointer;
    color: white;
    background: none;
    font-size: 2rem;
}

.page-link:hover{
    color: black;
    background-color: white;
}