<h1 class="text-center mt-5">NEWS</h1>
<app-spinner *ngIf="loading" class="mt-5 d-flex justify-content-center"></app-spinner>
<country-not-news *ngIf="totalResults === 0 && !loading"></country-not-news>
<div  class="row mt-5">
  <div class="col-lg-10 m-auto" *ngIf="totalResults > 0 && !loading">
    <div class="row row-cols-1 row-cols-xxl-4  row-cols-md-2 g-4">
      <div class="col" *ngFor="let article of articles">
        <country-new-card [article]="article"></country-new-card>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3" *ngIf="totalResults > 0 && !loading">
    <ul class="pagination pagination-lg">
      <li *ngIf="previousPageClass()" class="page-item ">
        <a class="page-link" (click)="previousPage()">&laquo;</a>
      </li>
      <li *ngIf="nextPageClass()" class="page-item ml-3">
        <a class="page-link" (click)="nextPage()">&raquo;</a>
      </li>
    </ul>
  </div>
</div>